*~
*.swp
build
build.*
doc_build*
*.fail
TAGS
RTAGS
Packages/FreeBSD/port/polymake/distinfo
Packages/FreeBSD/port/polymake/pkg-plist
Packages/Solaris/prototype
Packages/Solaris/pkginfo
Packages/Solaris/pkg
Packages/Solaris/root
Packages/Solaris/polymake-*.gz
Packages/rpm/BUILD
Packages/rpm/RPMS/i586/*.rpm
Packages/rpm/RPMS/x86_64/*.rpm
Packages/rpm/SOURCES/polymake-*.tar.bz2
Packages/rpm/SOURCES/polymake-*.diff
Packages/rpm/SRPMS/*.rpm
testscenarios/config_bundled/installed
testscenarios/config_bundled/polymake-pico
testscenarios/config_bundled/userdir/*
testscenarios/extensions/compares
testscenarios/extensions/installed
testscenarios/extensions/private*
testscenarios/extensions/polymake-pico
testscenarios/extensions/userdir/*

