#  Copyright (c) 1997-2014
#  Ewgenij Gawrilow, Michael Joswig (Technische Universitaet Berlin, Germany)
#  http://www.polymake.org
#
#  This program is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by the
#  Free Software Foundation; either version 2, or (at your option) any
#  later version: http://www.gnu.org/licenses/gpl.txt.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#-------------------------------------------------------------------------------


# @topic globalcategory Visualization
# These +++ are for visualization.

# @topic globalcategory Internal
# These +++ are for internal use only. You can safely ignore them.

# @topic globalcategory Input property
# These properties are for input only. They allow redundant information.



# @topic clients/Producing from scratch
# With these clients you can create simplicial complexes belonging to various parameterized families.

# @topic clients/Producing a new simplicial complex from others
# Another important way of constructing simplicial complexes is to modify an already existing one.
# Actually, these clients don't alter the input file, but create a copy and modify it.
#
# The clients try to preserve existing vertex labels or choose the new labels according to the old ones
# to help you keep track of special vertices throughout a series of constructions.
# You may suppress the labeling of the vertices of the new complex by using the **FIXME:** ''-nol'' flag
# if it is of no interest to you.


# Local Variables:
# mode: perl
# c-basic-offset:3
# End:
