#  Copyright (c) 1997-2022
#  Ewgenij Gawrilow, Michael Joswig, and the polymake team
#  Technische Universität Berlin, Germany
#  https://polymake.org
#
#  This program is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by the
#  Free Software Foundation; either version 2, or (at your option) any
#  later version: http://www.gnu.org/licenses/gpl.txt.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#-------------------------------------------------------------------------------

# @topic category objects/any/Visualization
# Drawable primitives and arrangements thereof.
# Objects of this family are created on the fly when a visualization of a `big' object is being prepared.
# They are generic in the sense that they don't carry any attributes specific for selected/preferred
# visualization tool.

# @topic category any/Visualization
# These +++ are for visualization.

# @topic category any/Internal
# These +++ are for internal use only. You can safely ignore them.

# @topic category properties/any/Input property
# These properties are for input only. They allow redundant information.

# @topic category any/Backward compatibility
# These +++ are provided for backward compatibility with older versions of polymake only. They should not be used in new code.

# @topic category any/Utilities
# Miscellaneous +++.

# @topic category any/Other
# Special purpose +++.

# @topic category any/Combinatorics
# These +++ capture combinatorial information of the object. 
# Combinatorial properties only depend on combinatorial data of the object like, e.g., the face lattice.

# @topic category functions/any/Combinatorics
# Combinatorial functions.

# @topic category functions/any/Data Conversion
# This contains functions for data conversions and type casts.

# @topic category any/Symmetry
# These +++ capture information of the object that is concerned with the action of permutation groups.

# @topic category methods/any/Topology
# The following methods compute topological invariants.

# @topic category functions/any/Topology
# The following functions compute topological invariants.

# @topic category any/Topology
# The following +++ are topological invariants.

# @topic category any/Geometry
# These +++ capture geometric information of the object. 
# Geometric properties depend on geometric information of the object, like, e.g., vertices or facets.

# @topic category property_types/any/Artificial
# These types are auxiliary artifacts helping to build other classes,
# primarily representing template parameters or enumeration constants.
# They should not be used alone as property types or function arguments.
# In the most cases they won't even have user-accessible constructors.


